<div class="movies-list-section">
  <a routerLink="../movie/{{movie.id}}"><h2 class="movie-title">{{movie.title}} ({{movie.releaseDate | date:'y'}})</h2></a>
  <div class="movie-data">
    <img src="{{posterPath}}" class="poster" alt="hello?">
    <div>
      <p class="movie-data__overview">{{movie.overview}}</p>
      <p class="movie-data__genres"><span class="group-name">Genres:</span> {{genres}}</p>
    </div>
  </div>
  <br>
</div>
