@import '../../colors';

.movies-list-section {
  border-bottom: 1px solid $black;
  margin: 20px 0;
  padding: 5px 20px;
  cursor: pointer;

  &:hover {
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 10%,rgba(0,0,0,0.1) 25%,rgba(0,0,0,0.15) 49%,rgba(0,0,0,0.1) 75%,rgba(0,0,0,0.05) 90%,rgba(0,0,0,0) 100%);
  }
}

.movie-title {
  font-size: 3rem;
  margin: 0 0 20px 10px;

  &:hover {
    color: $deep_purple;
  }
}

.movie-data {
  display: flex;
  flex-direction: row;

  .movie-data__overview {
    margin: 0 auto 30px;
    width: 70%;
    font-size: 2rem;
  }

  .movie-data__genres {
    margin: 0 auto;
    width: 70%;
    font-size: 1.7rem;
  }
}
