@import url('https://fonts.googleapis.com/css?family=Nixie+One');
@import '../../colors.scss';

.header {
  margin: 0 auto;
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: $light_juicy_purple;
  -webkit-border-radius: 100% 10%;

  .title {
    font-family: 'Nixie One', cursive;
    font-size: 5rem;
  }
}
