<main class="movies-list">
  <div *ngFor="let movie of movies">
    <app-movie-preview [movie]="movie" [genres]="parseGenres(movie.genreIds)"></app-movie-preview>
  </div>

  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    [nextPage]="nextPage"
    [prevPage]="prevPage"
    [changePage]="changePage"
  ></app-pagination>

  <app-scroll-to-top></app-scroll-to-top>
</main>
