@import '../../colors';

.movies-details {
  width: 60%;
  margin: 20px auto;
  font-family: sans-serif;
  border-bottom: 1px solid $black;
  padding: 5px 20px;
  cursor: pointer;
}

.movie-title {
  font-size: 3rem;
  margin: 0 0 20px 10px;

  &:hover {
    color: $deep_purple;
  }
}

.movie-data {
  display: flex;
  flex-direction: row;

  .movie-data__group {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0 0 10px 100px;
    width: 40%;
    font-size: 1.7rem;
  }

  .movie-data__overview {
    margin: 0 0 30px 100px;
    width: 70%;
    font-size: 2rem;
  }
}
