<div *ngIf="movie" class="movies-details">
  <h2 class="movie-title">{{movie.title}} ({{movie.releaseDate | date:'y'}})</h2>
  <div class="movie-data">
    <img src="{{posterPath}}" class="poster" alt="hello?">
    <div>
      <p class="movie-data__overview">{{movie.overview}}</p>
      <p *ngIf="movie.tagline" class="movie-data__group">
        <span class="group-name">Tagline:</span>
        <span class="group-name">"{{movie.tagline}}"</span>
      </p>
      <p class="movie-data__group"><span class="group-name">Genres:</span> {{parseGenres()}}</p>
      <p *ngIf="movie.runtime" class="movie-data__group"><span class="group-name">Runtime:</span> {{movie.runtime}} min.</p>
      <p *ngIf="movie.budget" class="movie-data__group"><span class="group-name">Budget:</span> {{movie.budget | currency:'CAD':'symbol-narrow':'4.0'}}</p>
      <p *ngIf="movie.productionCountries" class="movie-data__group"><span class="group-name">Country:</span> {{parseProductionCountries()}}</p>
      <p class="movie-data__group"><span class="group-name">Release:</span> {{movie.releaseDate | date:'M.d.yyyy'}}</p>
    </div>
  </div>
  <br>
</div>
