@import '../../colors';

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  margin: 20px auto;
  font-size: 2rem;
  font-weight: 200;

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .current-page {
    text-align: right;
    width: 55px;
    outline: none;
    font-size: 2rem;
    -webkit-appearance: none;
    margin-left: 10px;
  }

  .page-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 22px;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 10px;

    &:hover {
      color: $white;
      background-color: $juicy_purple;
    }
  }
}
