<div class="pagination">
  <div (click)="prevPage()" class="to-prev page-button"><fa-icon [icon]="faAngleLeft"></fa-icon></div>
  <label for="page">page:</label>
  <input
    id="page"
    class="current-page"
    value="{{currentPage}}"
    type="number"
    maxlength="5"
    (blur)="changePage($event)">
  /<span>{{totalPages}}</span>
  <div (click)="nextPage()" class="to-next page-button"><fa-icon [icon]="faAngleRight"></fa-icon></div>
</div>
