$black: #000000;
$white: #FFFFFF;

$juicy_purple: #8100ff;
$light_juicy_purple: 2px solid rgba(86, 1, 255, 0.39);

$transparent_gray_02: rgba(0, 0, 0, 0.2);
$transparent_gray_04: rgba(0, 0, 0, 0.4);
$deep_purple: rgba(13, 0, 40, 0.67);
