* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.group-name {
  font-style: italic;
  font-weight: 200;
  color: #595959;
}

.poster {
  height: 300px;
}
