@import '../../colors';

.to-top-button {
  position: fixed;
  opacity: 0;
  width: 60px;
  height: 40px;
  margin: 20px;
  bottom: 0;
  right: 0;
  background-color: $transparent_gray_02;
  color: #4b4b4b;
  border-radius: 7px;
  font-size: 3rem;
  text-align: center;
  cursor: pointer;
  transition: all 500ms;

  &:hover {
    background-color: $transparent_gray_04;
    color: $white;
  }
}

.enabled {
  opacity: 1;
}
